@require 'fonts'
@require 'colors'
@require 'variables'


// reset
*
  margin 0
  padding 0
  box-sizing border-box
  min-height 0
  min-width 0
  font-family inherit

// general
li
  list-style none

a
  text-decoration none

button
  border 0

// layout
#app
  overflow hidden
  margin 0 auto

html
  background var(--bg)
  font-family 'Roboto Mono', monospace
  font-size 100%
  hyphens auto
  word-break normal
  color var(--text-color-basic)

.static-container
  padding calc(50vh - 3.5rem) 0 0
  margin 0 25vw
  min-height 100vh
  perspective 900px
  perspective-origin 50% 50vh

  @media screen and (max-width 1024px)
    margin 0 4rem 0 calc(4rem + 1px)

  @media screen and (max-width 568px)
    margin 0 2rem 0 calc(2rem + 1px)

.wrapper
  position relative
  z-index 1
  min-height 100vh
  transition opacity 0.5s linear

// title
.title
  display block
  color var(--text-color-light)
  font-size 4rem
  font-weight 700
  word-spacing -0.1em
  letter-spacing -0.05em
  word-break break-word
  hyphens auto
  margin-right -25vw
  padding-right 1rem

  .func
    color var(--text-color-purple)

  @media screen and (max-width: 1024px)
      margin-right -4rem
      font-size 3rem

  @media screen and (max-width: 568px)
      margin-right -2rem
      margin-bottom 1rem
      font-size 2rem
      line-height 1.1


// mario game
.is-mario-viewport
  overflow hidden
  #line, #circle
    display none
  #Mario
    .play-mario-block
      opacity 1
      transition 4s opacity

.is-playing-mario
  overflow hidden
  #line, #circle
    display none
  .container
    visibility visible
    z-index 1

.has-played-mario
  .container
    visibility visible
    z-index 1