add-color(name, lightModeValue)
  :root
    {name}: lightModeValue


$bg = #0e1212
add-color('--bg', $bg)

$bg-wheat = #F5DEB3FF
add-color('--bg-wheat', $bg-wheat)

$text-color-basic = #888
add-color('--text-color-basic', $text-color-basic)

$text-color-light = #dbdbdb
add-color('--text-color-light', $text-color-light)

$text-color-purple = #682ae9
add-color('--text-color-purple', $text-color-purple)

$text-color-gray = #808080
add-color('--text-color-gray', $text-color-gray)

$text-color-comment = #555
add-color('--text-color-comment', $text-color-comment)

$text-color-red = #f0514e
add-color('--text-color-red', $text-color-red)

$text-color-green = #3cb878
add-color('--text-color-green', $text-color-green)

$header-link = #dbdbdb
add-color('--header-link', $header-link)

$header-link-hover = #682ae9
add-color('--header-link-hover', $header-link-hover)

$header-link-hover-icon = #dbdbdb
add-color('--header-link-hover-icon', $header-link-hover-icon)


