add-color(name, lightModeValue)
  :root
    {name}: lightModeValue


$bg = #0e1212
add-color('--bg', $bg)

$text-color-basic = #888
add-color('--text-color-basic', $text-color-basic)

$text-color-purple = #682ae9
add-color('--text-color-purple', $text-color-purple)

$header-link = #dbdbdb
add-color('--header-link', $header-link)

$header-link-hover = #682ae9
add-color('--header-link-hover', $header-link-hover)

$header-link-hover-icon = #dbdbdb
add-color('--header-link-hover-icon', $header-link-hover-icon)

